.summary-container {
	display:flex;
	flex-flow: column;
	justify-content: center;
	align-items: center; 
	height:100%;
	width: 100%;
}

.summary-title {
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 35%;
	color: #a6a6a6;
	font-size: 18px;
	font-weight: 500;
}


.summary-ammount {
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 65%;
	font-size: 36px;
	font-weight: 500;
}

.summary-positive {
	color: #28a745!important;
}

.summary-nuetral {
	color: #6c757d!important;
}

.summary-negative {
	color: #dc3545!important;
}