.analysis-pivot-table {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.analysis-pivot-table > table {
	width: 100%;
	border-collapse: collapse;
}

.pivot-table-header {
	width: 100%;
	background-color: #f0f0f0;
}

.pivot-category {
	width:50%;
}

.analysis-pivot-table > table > tbody > tr > td > div {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: flex;
	align-items: center;
	height: 100%;
}

.analysis-pivot-table > table > tbody > tr:nth-child(even) {
	background-color: #f2f2f2;
}

.analysis-pivot-table > .right-text {
	text-align: right;
}

.analysis-short-col {
	width: 100px;
}

