@import "account-summary-view.css";
@import "date-range-selection-view.css";
@import "transaction-table-view.css";

.upload-transaction-zone {
	outline-offset: -4px;
	outline: #828282 dashed 2px !important;
	-moz-outline-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 36px;
	color: #828282;
	width: 100%;
	height: 100%;
	transition-duration: .2s
}

.drag-enter-file-drop > div {
	background-color: #f0f0f0;
	outline-offset: -8px !important;
	outline: #828282 dashed 2px !important;
}