.category-list-container {
	height: 100%;
	width: 100%;
}

.category-list-title {
	height: 30%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.category-list-container > input {
	width: 100%;
	height: 40%;
	border-radius: 12px;

}

.category-list-container > input:active {
	transform: translateY(3px);
	/*height: 23%;*/
	/*margin-bottom: 2%;*/
}

.category-list-filler {
	height: 12%;
	width: 100%;
}