.date-range-container {
	display:flex;
	flex-flow: column;
	justify-content: center;
	align-items: center; 
	height:100%;
	width: 100%;
}

.date-range-title {
	display:flex;
	justify-content: center;
	align-items: center;
	height: 35%;
	width: 100%;
	font-size: 18px;
}

.input-container {
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow: row;
	height: 65%;
	width: 100%;
}

.date-picker-container {
	display:flex;
	justify-content: center;
	align-items: center;
	width:50%;
	height:100%;
}

.date-picker-container > input {
	font-size: 20px;
}
