/*color pallette

Dark
#00406b

P
#286a99

Light
#5f98ca


dark black
#7a7a7a

offwhite grey
#f0f0f0
*/

@import "budget_details.css";
@import "category-list-view.css";
@import "analysis.css";

.header_container {
	height: 300px;
	background-color: #595959 !important;
}


.left_nav_container {
	width: 200px;
	background-color: #f0f0f0;
	margin-top:1px					!important;
}


.body_container {

}


.right_nav_container {
	width: 200px;
	margin-top:1px					!important;
}

.left-hand-nav-css {
	background-color: inherit;
}

.left-hand-nav-css > .webix_template {
	display: flex;
	align-items: center;
	background-color: inherit;
	font-size: 18px;
	padding-left: 25px;
}

.left-hand-nav-css:hover {
	border-left: solid 10px black;
}

.left-hand-nav-css > .webix_template:hover {
	background-color: #dedede;
	cursor: pointer;
	border-left: solid 8px black;
	padding-left: 17px;
}

