.main-container {
	display: flex;
	flex-direction: row;
}

.pivot-column {
	/*flex-grow: 1;*/
}

.category-selection {
	width: 10%;
}

.category-table {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.pivot-table {
	width: 100%;
}

.pivot-table-header{
	display: flex;
	flex-direction: row;
	width: 100%;

}

.pivot-table-header-cell {
	flex-grow: 1;
	flex-basis: 0px;
	text-align: center;
}

.pivot-table-data-cell {
	flex-grow: 1;
	flex-basis: 0px;
	text-align: center;
	background-color: white;
	box-sizing: border-box;
	border-left: solid black 1px;
	border-bottom: solid black 1px;
}

.blank-cell {
	background-color: white;
	/*display: table-cell;*/
}

.right-side-blank {
	width: 10%;
}

.category-selector {
	height:25px;
	border-left: solid black 1px;
	border-bottom: solid black 1px;
	border-right: solid black 1px;
	align-items: center;
	justify-content: center;
}

.buffer {
	width: 20px;
}

.end-cell {
	border-right: solid black 1px;
}
