.transaction-table-container {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.transaction-table-container > table {
	width: 100%;
	border-collapse: collapse;
}

.transaction-header,  .transaction-header > tr {
	width: 100%;
	height: 60px;
}

.transaction-table-container > table > tbody > tr:nth-child(even) {
	background-color: #f2f2f2;
}

.transaction-header,  tbody > tr > td {

	font-size: 18px;
	font-weight: 400;
	height: 50px;
}

.transaction-table-container > table > tbody > tr > td > div {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: flex;
	align-items: center;
	height: 100%;
}

.th-checkbox, .tr-number {
	width:70px;
}

.tr-number {
	text-align: center;
}

.transaction-table-header-filter {
	text-align: left;
}

.transaction-table-header-label {
	text-align: left;
	padding-left: 10px;
}

.transaction-table-header {
	font-size: 24px;
	font-weight: 400;
}

.transaction-table-header, .th-checkbox {
	background-color: #f0f0f0;
}

.short-col, .medium-col, .large-col {

}

.short-col {
	width:100px;
	max-width: 100px !important;
}

.medium-col {
	width: 150px;
	max-width: 200px;
}

.large-col {
	width:300px;
	max-width: 300px;
}

.transaction-table-short-col {
	width:75px;
	max-width: 75px !important;
}

.transaction-table-medium-col {
	width: 150px;
	max-width: 200px;
}

.transaction-table-large-col {
	width:300px;
	/*max-width: 300px;*/
	flex-grow: 1;
}

.transaction-table-container > .right-text, .right-text > div {
	float: right;
	padding-right: 10px;
}

.transaction-table-container > .left-text > div {
	padding-left: 10px;
}

.transaction-positive {
	color: green;
}

